[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==2.2.10"
"psycopg2-binary" = "*"
django-environ = "*"
gunicorn = "*"
incuna-mail = "*"
whitenoise = "*"
"boto3" = "*"
pip = "*"
django-ses = "*"
structlog = "*"
isort = "*"
roman = "*"
more-itertools = "*"
django-debug-toolbar = "*"

[dev-packages]
django-debug-toolbar = "*"
ipdb = "*"
flake8 = "*"
black = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
