[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
"psycopg2-binary" = "*"
django-environ = "*"
gunicorn = "*"
incuna-mail = "*"
whitenoise = "*"
"boto3" = "*"
pip = "*"
django-ses = "*"
django-markdownify = "*"
structlog = "*"
isort = "*"

[dev-packages]
django-debug-toolbar = "*"
ipdb = "*"
flake8 = "*"

[requires]
python_version = "3.7"
