[watcher:app]
cmd = envdir env_vars pipenv run gunicorn
args = phmi.wsgi -c vars/gunicorn_conf.py
working_dir = {{ PROJECT_PATH }}
uid = ubuntu
numprocesses = 1
autostart = true
stdout_stream.class = FileStream
stdout_stream.filename = {{ LOG_DIR }}/gunicorn.stdout.log
stderr_stream.class = FileStream
stderr_stream.filename = {{ LOG_DIR }}/gunicorn.stderr.log
copy_env = true
