[watcher:app]
cmd = envdir env_vars pipenv run gunicorn
args = --bind 127.0.0.1:4567 --workers=3 --timeout=120 --access-logfile=- --error-logfile=- --capture-output phmi.wsgi
working_dir = {{ PROJECT_PATH }}
uid = ubuntu
numprocesses = 1
autostart = true
stdout_stream.class = FileStream
stdout_stream.filename = {{ LOG_DIR }}/phmi.stdout.log
stderr_stream.class = FileStream
stderr_stream.filename = {{ LOG_DIR }}/phmi.stderr.log
copy_env = true
