{% extends 'base.html' %}

{% block contents %}
<article>
  <h1 class="nhsuk-heading-xl">Activities</h1>

  <div class="content-offset">
    {% for group in object_list %}
    <div class="row content-offset-below-20">
      <div class="col-md-12">

        <h3>{{ group.name }}</h3>

        <p>{{ group.description }}</p>

        <ul class="nhsuk-c-page-contents__list ">
          {% for category in group.categories.all %}
          <li class="nhsuk-c-page-contents__item">
            <a href="#{{ category.slug }}">{{ category.name }}</a>
          </li>
          {% endfor %}
        </ul>

        <div class="content-offset">
          This table shows organizations with a legal basis to conduct different
          types of activity with a
          <div class="align-middle">{% include "icons/tick.html" %}</div>
        </div>

        <table class="xs-scrollable table content-offset">
          {% for category in group.categories.all %}

            <thead id="{{ category.slug }}">
              <tr>
                <th>{{ category.name }}</th>
                {% for org_type in org_permissions.keys %}
                <th style="text-align: center">
                  <div style="min-width: 90px">
                    {{ org_type.name }}
                  </div>
                </th>
                {% endfor %}
              </tr>
            </thead>

            {% for activity in category.activities.all %}
            <tr>
              <td><a href="{{ activity.get_absolute_url }}">{{ activity.name }}</a></td>
              {% for org_type, allowed_activities in org_permissions.items %}
              <td style="text-align: center">
                {% if activity in allowed_activities %}
                {% include "icons/tick.html" %}
                {% else %}
                {% include "icons/cross.html" %}
                {% endif %}
              </td>
              {% endfor %}
            </tr>
            {% endfor %}

          {% endfor %}
        </table>

      </div>
    </div>
    {% endfor %}
  </div>
</article>
{% endblock %}
