{% extends "base.html" %}

{% block contents %}
    <article>
        <h1 class="nhsuk-heading-xl">{{ object.name }}</h1>

        <div class="row content-offset content-offset-below-80">
            <div class="col-md-10 ">
                <ul class="nhsuk-c-page-contents__list">
                    {% for org_type in org_types %}
                        <li class="nhsuk-c-page-contents__item">
                            <a href="#{{ org_type.slug }}">{{ org_type.name }}</a>
                        </li>
                    {% endfor %}
                    <li class="nhsuk-c-page-contents__item">
                        <a href="#condition-for-processing">
                            Conditions for processing
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        {% for org_type in org_types %}
        <div class="row content-offset-24 ">
            <div class="col-md-3">
                <h2 class="nhsuk-heading-l no-top-margin" id="{{ org_type.slug }}">
                    {{ org_type.name }}
                    <div class="hidden-print">
                        <!-- <small><a href="{{ org_type.url }}">See all activities</a></small> -->
                    </div>
                </h2>
            </div>
            <div class="col-md-6">
            {% for basis_type, lawful_bases in org_type.lawful_bases.items %}
            {% if lawful_bases %}
            <h2>
              {{ basis_type }}
            </h2>
            {% endif %}
            {% for lawful_basis in lawful_bases %}
            <div class="row nhs_markdown_ul content-offset-below-80">
                <div class="col-md-12">
                    <h4 style="padding-top: 4px;" class="nhsuk-heading-s no-top-margin">{{ lawful_basis.name }}</h4>
                    {{ lawful_basis.details|linebreaks }}
                    {% comment %}
                    {% if lawful_basis.statutes.exists %}
                        Uncomment once a lawyer has checked the data
                        {% for statute in justification.statutes.all %}
                            <div class="row">
                                <div class="col-md-12">
                                    <a href="{{ statute.link }}">{{ statute.name }}</a>
                                </div>
                            </div>
                        {% endfor %}
                    {% endif %}
                    {% endcomment %}
                </div>
            </div>
            {% endfor %}
            {% endfor %}
            <hr class="nhs_thick" />
        </div></div>

        {% endfor %}

        <div class="row content-offset-24">
            <div class="col-md-3" id="condition-for-processing">
                <h2 class="nhsuk-heading-l no-top-margin" i>
                        Conditions for processing
                </h2>
            </div>
            <div class="col-md-6">
                <div class="content-offset-below-80">
                        <h4 class="nhsuk-heading-s no-top-margin">GDPR condition for processing</h4>
                        <p>
                            Article 6(1)e : Official Authority - for NHS bodies and local authorities
                        </p>
                        <p>
                            Article 6(1)f : Legitimate Interests - for non-NHS providers and charities
                        </p>
                        <p>
                            Article 9(2)h : Management of a Health or Social Care System
                        </p>
                </div>

                <h4 class="nhsuk-heading-s">Common law duty of confidence</h4>
                <p>
                    {{ object.duty_of_confidence }}
                </p>
            </div>
        </div>
    </article>
{% endblock contents %}
