{% extends 'base.html' %}
{% load markdownify %}
{% block contents %}
    <article>
        <h1 class="nhsuk-heading-xl">{{ object.name }}</h1>

        <div class="row">
            <div class="col-md-12">
                <p>
                    The following types of institution have
                    a legal basis to perform this activity:
                </p>
            </div>
        </div>
        {% for org_type in org_types %}
            <h2 class="nhsuk-heading-l" id="{{ org_type.slug }}">
                {{ org_type.name }}
            </h2>
            {% for justification in org_type.justifications %}
            <div class="row content-offset-24">
                <div class="col-md-8">
                    <h4>{{ justification.name }}</h4>
                    <p>
                        {{ justification.statute|markdownify }}
                    </p>
                </div>
            </div>
            {% endfor %}

        {% endfor %}

        <div class="row">
            <div class="col-md-12">
                <h2>GDPR condition for processing</h2>
                <p>
                    Article 6 (e): Official Authority - for
                    NHS bodies and local authorities
                </p>
                <p>
                    Article 6 (b): Legitimate Interests - for
                    non-NHS providers and charities
                </p>
                <p>
                    Article 9 (h): Management of a H
                    ealth or Social Care System
                </p>
                <h2>Common law duty of confidence</h2>
                <p>
                    {{ object.duty_of_confidence }}
                </p>
            </div>
        </div>
    </article>
{% endblock contents %}

