{% extends 'base.html' %}

{% block contents %}
<article>
  <h1 class="nhsuk-heading-xl">Activities</h1>

  <div class="content-offset content-offset-below-80">
    <div class="row content-offset-below-20">
      <div class="col-md-12">
        <ul class="nhsuk-c-page-contents__list ">
          {% for group in object_list %}
          <li class="nhsuk-c-page-contents__item">
            <a href="#{{ group.slug }}">{{ group.name }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>

  {% for group in object_list %}
  <div class="content-offset-below-80" id="{{ group.slug }}">

    <h3>{{ group.name }}</h3>

    <p>{{ group.description }}</p>

    <div>
      {% include "icons/tick.html" %} = it is clearly reasonable to require this
      sort of data for the selected activity/organisations and no further
      justification is required
    </div>
    <div>
      {% include "icons/cross.html" %} = it is not immediately obvious why this
      sort of data would be required for this activity, so care systems should
      provide further justification.
    </div>

    <table class="xs-scrollable table content-offset">
      {% for category in group.categories.all %}
      <thead>
        <tr>
          {# The id of slug is used to link from the home page to this part of the page #}
          <th id="{{ category.slug }}" >{{ category.name }}</th>
          {% for org_type in org_permissions.keys %}
          <th style="text-align: center">
            <div style="min-width: 90px">
              {{ org_type.short_name }}
            </div>
          </th>
          {% endfor %}
        </tr>
      </thead>

      {% for activity in category.activities.all %}
      <tr>
        <td><a href="{{ activity.get_absolute_url }}">{{ activity.name }}</a></td>
        {% for org_type, allowed_activities in org_permissions.items %}
        <td style="text-align: center">
          {% if activity in allowed_activities %}
          {% include "icons/tick.html" %}
          {% else %}
          {% include "icons/cross.html" %}
          {% endif %}
        </td>
        {% endfor %}
      </tr>
      {% endfor %}

      {% endfor %}

    </table>

  </div>
  {% endfor %}
</article>
{% endblock %}
