{% load staticfiles %}
{% load utils %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Secondary use data governance tool{% endblock %}</title>
    <link href="https://fonts.googleapis.com/css?family=Hind:300,400,500,600,700" rel="stylesheet">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.5.0/list.min.js"></script>

    <link rel='shortcut icon' type='image/x-icon' href='{% static "img/icons/nhs.ico" %}' />
    <script src="{% static "js/main.js" %}"></script>
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
  </head>
  <body data-spy="scroll" data-target="#navbar-example">
    {% block header %}
    <header class="masthead">
      <div style="overflow-y: hidden" class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="row banner">
              <div class="col-md-12">
                <div class="top-logo">
                  <hgroup class="header-strapline">
                    <a class="logo" href="/">
                      <img src="{% static "/img/logos/nhs-england-logo-rev.svg" %}" alt="NHS England Logo" title="NHS England" data-intro="Clicking on this logo will always take you back to the homepage (just in case you get lost).">
                      <h2 class="subtitle">Secondary use data governance tool</h2>
                    </a>
                  </hgroup>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row header-nav">
            <div class="col-md-12">
              <nav>
                <ul>
                  <li>
                    <a {% if request|url_name == 'home' %} class="active" {% endif %} href="{% url 'home' %}">
                      Home
                    </a>
                  </li>

                  <li>
                      <a {% if request|url_name == 'activity-list' %} class="active" {% endif %} href="{% url 'activity-list' %}">
                        Activities
                      </a>
                    </li>

                  <li>
                      <a {% if request|url_name == 'data-access' %} class="active" {% endif %} href="{% url 'data-access' %}">
                        Data access
                      </a>
                    </li>
                </ul>
              </nav>
            </div>
          </div>
      </div>
    </header>
    {% endblock header %}

    {% if messages %}
    <div class="container" style="margin-top:10px">
      <div class="row">
        <div class="col-sm-12">
          <ul class="list-unstyled">
            {% for message in messages %}
            <li{% if message.tags %} class="alert alert-{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
    {% endif %}

    <div class="container">
      <div class="row">
        <div class="{{ view.page_width }}">
          {% block breadcrumbs %}
            {% if breadcrumbs %}
              {% breadcrumbs breadcrumbs %}
            {% endif %}
          {% endblock %}
          {% block contents %}
          {% endblock contents %}
        </div>
      </div>
    </div>

    {% block footer %}
    <div class="footer-cover">
      <footer class="site-footer">

        <div class="container-fluid">
          <div class="row">
            <div class="col-md-9 col-md-push-3">
              <div class="row">
                <div class="col-md-8">
                  <ul class="nav">
                    {% comment %}
                    <li>
                      {% if request.user.is_authenticated %}
                        <a href="{% url 'logout' %}">Logout</a>
                      {% else %}
                        <a href="{% url 'request-login' %}">Login</a>
                      {% endif %}
                    </li>
                    {% endcomment %}
                    <li>
                      <a href="http://www.england.nhs.uk/terms-and-conditions/">Terms & Conditions</a>
                    </li>
                    <li>
                      <a href="http://www.england.nhs.uk/privacy-policy/">Privacy & Cookies</a>
                    </li>
                    <li>
                      <a href="http://www.england.nhs.uk/comment-policy/">Social Media & Comment Moderation</a>
                    </li>
                    <li>
                      <a href="http://www.england.nhs.uk/accessibility/">Accessibility</a>
                    </li>
                    <li>
                      <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/">Open Government Licence v0.3.0</a>
                    </li>
                  </ul>
                </div>
                <div class="col-md-4 pull-right social-networks">
                  <a href="http://www.twitter.com/NHSEngland" title="Follow us on Twitter" target="_blank" class="external-link">
                    <span class="hide">Follow us on Twitter</span>
                  </a>
                  <a href="https://www.linkedin.com/company/nhsengland" title="Visit us on LinkedIn" target="_blank" class="external-link">
                    <span class="hide">Visit us on LinkedIn</span>
                  </a>
                  <a href="http://www.youtube.com/thenhsengland" title="Watch videos on YouTube" target="_blank" class="external-link">
                    <span class="hide">Watch videos on YouTube</span>
                  </a>
                  <a href="http://www.flickr.com/photos/nhsengland" title="View photos on Flickr" target="_blank" class="external-link">
                    <span class="hide">View photos on Flickr</span>
                  </a>
                  <a href="http://feeds.feedburner.com/NHSCBoard" title="All RSS" target="_blank" class="external-link">
                    <span class="hide">All RSS</span>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </footer>
      </div>
    </div>
    {% endblock footer %}
    <!-- Start of nhse Zendesk Widget script -->
    <script>/*<![CDATA[*/window.zEmbed||function(e,t){var n,o,d,i,s,a=[],r=document.createElement("iframe");window.zEmbed=function(){a.push(arguments)},window.zE=window.zE||window.zEmbed,r.src="javascript:false",r.title="",r.role="presentation",(r.frameElement||r).style.cssText="display: none",d=document.getElementsByTagName("script"),d=d[d.length-1],d.parentNode.insertBefore(r,d),i=r.contentWindow,s=i.document;try{o=s}catch(e){n=document.domain,r.src='javascript:var d=document.open();d.domain="'+n+'";void(0);',o=s}o.open()._l=function(){var o=this.createElement("script");n&&(this.domain=n),o.id="js-iframe-async",o.src=e,this.t=+new Date,this.zendeskHost=t,this.zEQueue=a,this.body.appendChild(o)},o.write('<body onload="document._l();">'),o.close()}("https://assets.zendesk.com/embeddable_framework/main.js","nhse.zendesk.com");
    /*]]>*/</script>
  </body>
</html>
