{% extends "base.html" %}

{% block contents %}
<article>
  <h1 class="nhsuk-heading-xl">Data Access</h1>

  <div class="content-offset content-offset-below-80">

    {% if not request.GET %}
    <form method="GET" class="form-horizontal" style="margin-left:15px;margin-right:15px;">

      <div class="row" style="margin-top:20px">
        <div class="col-md-12">
          <div class="form-group">
            <h2 class="nhsuk-heading-l">{{ form.activities.label }}</h2>

            {{ form.activities }}
          </div>
        </div>
      </div>

      <div class="row" style="margin-top:20px">

        <div class="col-md-6">
          <div class="form-group">
            <h2 class="nhsuk-heading-l">{{ form.org_types.label }}</h2>

            <ul class="list-unstyled">
              {% for value, label in form.org_types.field.choices %}
              <li>
                <label for="id_org_types_{{ forloop.counter0 }}" style="display:flex;align-items:baseline;">
                  <input
                    type="checkbox"
                    name="org_types"
                    value="{{ value }}"
                    id="id_org_types_{{ forloop.counter0 }}"
                    checked
                  />
                  <span style="margin-left:10px">{{ label }}</span>
                </label>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>

        <div class="col-md-6">
          <div class="form-group">
            <h2 class="nhsuk-heading-l">{{ form.services.label }}</h2>

            <ul class="list-unstyled">
              {% for value, label in form.services.field.choices %}
              <li>
                <label for="id_services_{{ forloop.counter0 }}" style="display:flex;align-items:baseline;">
                  <input
                    type="checkbox"
                    name="services"
                    value="{{ value }}"
                    id="id_services_{{ forloop.counter0 }}"
                    checked
                  />
                  <span style="margin-left:10px">{{ label }}</span>
                </label>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>

      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-success">Filter</button>
      </div>

    </form>

    {% else %}

    <table class="table table-striped">
      <thead>
        <tr>
          <th>Data Category</th>
          <th colspan="2">Data Type</th>
        </tr>
      </thead>
      <tbody>
        {% for data_type in data_types %}
        <tr>
          <td style="padding-right:10px">{% ifchanged %}{{ data_type.category.name }}{% endifchanged %}</td>
          <td>{{ data_type.name }}</td>
          <td>
            {% if data_type.id in allowed_data_type_ids %}
            {% include "icons/tick.html" %}
            {% else %}
            {% include "icons/cross.html" %}
            {% endif %}
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    {% endif %}

  </div>
</article>
{% endblock contents %}
