{% extends "base.html" %}

{% block contents %}
<article>
  <h1 class="nhsuk-heading-xl">Data Access</h1>

  <div class="content-offset content-offset-below-80">

    {% if not request.GET %}
    <form method="GET" class="form-horizontal" style="margin-left:15px;margin-right:15px;">

      <div class="row" style="margin-top:20px">
        <div class="col-md-12">
          <div class="form-group">
            <h2 class="nhsuk-heading-l">{{ form.activities.label }}</h2>

            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
              porttitor lectus augue, nec feugiat lorem placerat eget.
              Pellentesque consectetur tellus vel justo pharetra, vel interdum
              nisl tristique. Sed cursus metus vitae venenatis dapibus. Sed eu
              metus purus. In ac lacinia nisi, et varius eros. Suspendisse
              commodo nisi risus, quis dapibus lectus efficitur et. Donec
              laoreet, velit ac aliquam egestas, nulla elit placerat arcu, a
              consectetur odio eros non magna.
            </p>

            {{ form.activities }}
          </div>
        </div>
      </div>

      <div class="row" style="margin-top:20px">

        <div class="col-md-12">
          <div class="form-group">
            <h2 class="nhsuk-heading-l">{{ form.org_types.label }}</h2>

            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
              porttitor lectus augue, nec feugiat lorem placerat eget.
              Pellentesque consectetur tellus vel justo pharetra, vel interdum
              nisl tristique. Sed cursus metus vitae venenatis dapibus. Sed eu
              metus purus. In ac lacinia nisi, et varius eros. Suspendisse
              commodo nisi risus, quis dapibus lectus efficitur et. Donec
              laoreet, velit ac aliquam egestas, nulla elit placerat arcu, a
              consectetur odio eros non magna.
            </p>

            <ul class="list-unstyled">
              {% for value, label in form.org_types.field.choices %}
              <li>
                <label for="id_org_types_{{ forloop.counter0 }}" style="display:flex;align-items:baseline;">
                  <input
                    type="checkbox"
                    name="org_types"
                    value="{{ value }}"
                    id="id_org_types_{{ forloop.counter0 }}"
                    checked
                  />
                  <span style="margin-left:10px">{{ label }}</span>
                </label>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>

      <div class="row" style="margin-top:20px">
        <div class="col-md-12">
          <div class="form-group">
            <h2 class="nhsuk-heading-l">{{ form.services.label }}</h2>

            <p>
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc
              porttitor lectus augue, nec feugiat lorem placerat eget.
              Pellentesque consectetur tellus vel justo pharetra, vel interdum
              nisl tristique. Sed cursus metus vitae venenatis dapibus. Sed eu
              metus purus. In ac lacinia nisi, et varius eros. Suspendisse
              commodo nisi risus, quis dapibus lectus efficitur et. Donec
              laoreet, velit ac aliquam egestas, nulla elit placerat arcu, a
              consectetur odio eros non magna.
            </p>

            <ul class="list-unstyled">
              {% for value, label in form.services.field.choices %}
              <li>
                <label for="id_services_{{ forloop.counter0 }}" style="display:flex;align-items:baseline;">
                  <input
                    type="checkbox"
                    name="services"
                    value="{{ value }}"
                    id="id_services_{{ forloop.counter0 }}"
                    checked
                  />
                  <span style="margin-left:10px">{{ label }}</span>
                </label>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>

      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-success">Filter</button>
      </div>

    </form>

    {% else %}

    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porttitor
      lectus augue, nec feugiat lorem placerat eget. Pellentesque consectetur
      tellus vel justo pharetra, vel interdum nisl tristique. Sed cursus metus
      vitae venenatis dapibus. Sed eu metus purus. In ac lacinia nisi, et
      varius eros. Suspendisse commodo nisi risus, quis dapibus lectus
      efficitur et. Donec laoreet, velit ac aliquam egestas, nulla elit
      placerat arcu, a consectetur odio eros non magna.
    </p>

    <h3>Selected Data</h3>
    <div>
      <strong>Activity</strong> <span>{{ selected_activity }}</span><br />
    </div>

    <div>
      <strong>Organisation Types</strong>
      <ul>
        {% for ot in selected_org_types %}
        <li>{{ ot.name }}</li>
        {% endfor %}
      </ul>
    </div>

    <div>
      <strong>Services</strong>
      <ul>
        {% for s in selected_services %}
        <li>{{ s.name }}</li>
        {% endfor %}
      </ul>
    </div>


    {% regroup data_types by category.name as categories %}
    {% for category in categories %}
    <div class="content-offset content-offset-below-40">
      <table class="table table-striped">
        <thead>
          <tr>
            <th colspan="3">{{ category.grouper }}</th>
          </tr>
        </thead>
        <tbody>
          {% for data_type in category.list %}
          <tr>
            <td style="width:430px">{{ data_type.name|truncatechars:50 }}</td>
            <td style="width:693px">{{ data_type.example_data_sets }}</td>
            <td>
              {% if data_type.id in allowed_data_type_ids %}
              {% include "icons/tick.html" %}
              {% else %}
              {% include "icons/cross.html" %}
              {% endif %}
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endfor %}

    {% endif %}

  </div>
</article>
{% endblock contents %}
