{% extends "base.html" %}

{% block contents %}
<article>
  <h1 class="nhsuk-heading-xl">Data access (2)</h1>

  <div class="content-offset-24 content-offset-below-80">
    <p class="content-offset-below-20">
      This service is being developed to help teams hoping to bring together data for
      secondary uses understand when they are likely to be granted access to different
      datasets and for what purposes.
    </p>

    <form method="POST" class="form-horizontal" style="margin-left:15px;margin-right:15px;">
      {% csrf_token %}

      <div class="row content-offset-24">
        <div class="col-md-12">
          <div class="form-group">
            <h2 class="nhsuk-heading-l">Data set</h2>
            <p>
             Select the data set you would like access to.
            </p>
            {{ form.data_type }}
          </div>
        </div>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-success">Continue</button>
      </div>

    </form>

  </div>
</article>
{% endblock contents %}
