{% extends "base.html" %}

{% block contents %}
<article>
  <form method="GET" class="form-horizontal" style="margin-left:15px;margin-right:15px;">

    <div class="row" style="margin-top:20px">
      <div class="col-md-12">
        <div class="form-group">
          <label>{{ form.activities.label }}</label>

          {{ form.activities }}
        </div>
      </div>
    </div>

    <div class="row" style="margin-top:20px">

      <div class="col-md-6">
        <div class="form-group">
          <label>{{ form.org_types.label }}</label>
          {{ form.org_types }}
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group">
          <label>{{ form.services.label }}</label>
          {{ form.services }}
        </div>
      </div>

    </div>

    <div class="form-group">
      <button type="submit" class="btn btn-success">Filter</button>
    </div>

  </form>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Data Category</th>
        <th colspan="2">Data Type</th>
      </tr>
    </thead>
    <tbody>
      {% for data_type in data_types %}
      <tr>
        <td style="padding-right:10px">{% ifchanged %}{{ data_type.category.name }}{% endifchanged %}</td>
        <td>{{ data_type.name }}</td>
        <td>
          {% if data_type.id in allowed_data_type_ids %}
          {% include "icons/tick.html" %}
          {% else %}
          {% include "icons/cross.html" %}
          {% endif %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

</article>
{% endblock contents %}
