{% extends "base.html" %}

{% block contents %}
<div class="container main-content">
  <nav class="breadcrumbs">
    <ul>
      <li><a href="/">Home</a></li>
      {% if caresystem %}
      <li><a href="{% url 'group-edit' pk=caresystem.id %}">{{ caresystem.name }}</a></li>
      <li>Edit</li>
      {% else %}
      <li>Add</li>
      {% endif %}
    </ul>
  </nav>

  <article>

    <h1 class="title">
      {% if caresystem %}
      Edit {{ caresystem.name }}
      {% else %}
      Add a Care System
      {% endif %}
    </h1>

    <div class="row">
      <div class="col-md-12">

        <ul class="errors">
          {% for error in form.non_field_errors  %}
            {{ error }}
          {% endfor %}
          {% for field in form %}
            {% for error in field.errors %}
              {{ field.name | title }} - {{ error }}
            {% endfor %}
          {% endfor %}
        </ul>
        <!-- Display Form -->
        <form method="POST">
          {% csrf_token %}

          <div class="row">

            <div class="col-sm-8">
              <div class="form-group">
                {{ form.name.label_tag }}
                {{ form.name }}
              </div>
            </div>

            <div class="col-sm-4">
              <div class="form-group">
                {{ form.type.label_tag }}
                {{ form.type }}
              </div>
            </div>

          </div>

          <hr />

          <div class="row">
            <div class="col-sm-8">
              <table class="table">
                <thead>
                  <tr>
                    <td><strong id="num_added">{{ caresystem.orgs.all|length }} Organisation{{ caresystem.orgs.all|pluralize }}</strong></td>
                    <td class="text-right"><a id="remove_all" href="#">Remove all</a></td>
                  </tr>
                </thead>
                <tbody id="selected_orgs">
                  {% for org in caresystem.orgs.all %}
                  <tr>
                    <td>
                      <input type="hidden" name="organisations" value="{{ org.id }}" />
                      {{ org.name }}
                    </td>
                    <td class="text-right"><a href="#">Remove</a></td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>

            <div class="col-sm-4">
              <div class="form-group">
                <div id="org_list">

                  <input class="search" placeholder="Search Organisations" />

                  <ul class="list list-unstyled">
                    {% for org_type, orgs in orgs_by_type %}
                    <li class="org-type"><strong>{{ org_type }}</strong></li>
                    {% for org in orgs %}
                    <li id="{{ org.id }}" class="org"><span class="name">{{ org.name }}</span></li>
                    {% endfor %}
                    {% endfor %}
                  </ul>

                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <button class="btn btn-success pull-right" type="submit">Save</button>
            </div>
          </div>

        </form>

      </div>
    </div>

  </article>
</div>
{% endblock contents %}
