{% extends "base.html" %}

{% block contents %}
<div class="container main-content">
  <nav class="breadcrumbs">
    <ul>
      <li><a href="/">Home</a></li>
      <li>{{ caresystem.name }}</li>
    </ul>
  </nav>

  <article>

    {% if request.user.is_authenticated and request.user.is_staff %}
    <a href="{% url 'group-edit' pk=caresystem.id %}" class="pull-right">Edit</a>
    {% endif %}

    <h1 class="title">{{ caresystem.name }}
      <small>{{ caresystem.type.get_display_name }}</small>
    </h1>

    {% for org_type, orgs_list in orgs_by_type.items %}
      <h3>
        {{ org_type.name }}
      </h3>
      <div class="row">
        <div class="col-md-12">
          <ul>
            {% for org in orgs_list %}
              <li><a href="{{ org.get_absolute_url }}">{{ org.name }}</a></li>
            {% endfor %}
          </ul>
        </div>
      </div>
    {% endfor %}

  </article>
</div>
{% endblock contents %}
