{% extends 'base.html' %}
{% block contents %}
    <div class="row content-offset">
        <div class="col-md-6 home-descriptor">
            <p class="home-lead">
                This service will help you understand the legal justifications that
                exist for data sharing between NHS organizations for
                secondary uses.
            </p>
            <p class="home-lead">
                It has been developed to help NHS organizations to share data for the
                benefit of patients where a consistent and robust legal basis
                exists.
            </p>
        </div>
        <div class="col-md-6">
            <h2 class="nhsuk-heading-l">
                View legal basis for &#8230;
            </h2>
            <ul class="nhsuk-c-page-contents__list">
                {% for activity_category in object_list %}
                    <li class="nhsuk-c-page-contents__item">
                        <a href="{{ activity_category.get_absolute_url }}">
                            {{ activity_category.name }}
                        </a>
                    </li>
                {% endfor %}
            </ul>
        </div>
    </div>

    <hr class="content-offset-90 nhs_thick" />
    <div class="row content-offset ">
        <div class="col-md-8">
            <h2 class="nhsuk-heading-l">
                Project assessment
                <span class="btn btn-primary btn-sm alpha-label">
                    ALPHA
                </span>
            </h2>
            <p class="home-lead">
                This service is being developed to help NHS organizations clearly articulate
                their population health management activities and concisely convey to patients
                and the public how their data is used to improve health and care services.
            </p>
        </div>
    </div>
    <div class="row content-offset-24 content-offset-below-90">
        <div class="col-md-8">
            <a href="{% url 'project-location' %}" class="btn btn-success">Assess your project</a>
        </div>
    </div>

    <hr class="content-offset-90 nhs_thick" />
    <div class="row content-offset ">
        <div class="col-md-8">
            <h2 class="nhsuk-heading-l">
                Data access
                <span class="btn btn-primary btn-sm alpha-label">
                    ALPHA
                </span>
            </h2>
            <p class="home-lead">
                This service is being developed to help teams hoping to bring together data for 
                secondary uses understand when they are likely to be granted access to different 
                datasets and for what purposes.
            </p>
        </div>
    </div>
    <div class="row content-offset-24 content-offset-below-90">
        <div class="col-md-8">
            <a href="{% url 'data-access' %}" class="btn btn-success">Understand data access</a>
        </div>
    </div>
{% endblock %}
