{% extends "base.html" %}

{% block contents %}
<div class="container main-content">
  <form method="POST" class="form-inline center-block" style="margin-top:100px;width:500px">
    {% csrf_token %}

    <div class="row" style="margin-bottom:30px;">
      <div class="col">
        <div class="form-group">

          {% if form.email.errors %}
          <div class="alert alert-danger" role="alert">
            {% for error in form.email.errors %}
            <p>{{ error|escape }}</li>
            {% endfor %}
          </div>
          {% endif %}

          {{ form.email.label_tag }}
          {{ form.email }}

          <span id="helpBlock" class="help-block">Enter your email address and a login URL will be sent to you.</span>
        </div>
      </div>
    </div>

    <button class="btn btn-success pull-right">Send</button>

  </form>
</div>
{% endblock contents %}
