{% extends "base.html" %}

{% block contents %}
<div class="container main-content login">
  <form method="POST" class="center-block" style="margin-top:100px;width:600px">
    {% csrf_token %}

    <h2>Please enter your NHSmail address</h2>

    <p>You can use either your NHSmail address, or the NHSmail address for your organisation.</p>

    <div class="form-group">
      {% if form.email.errors %}
      <div class="alert alert-danger" role="alert">
        {% for error in form.email.errors %}
        <p>{{ error|escape }}</li>
        {% endfor %}
      </div>
      {% endif %}

      <strong>{{ form.email.label_tag }}</strong>
      {{ form.email }}
    </div>

    <p><a href="">No account / need help?</a></p>
    <p>We will now send a login URL to your NHSmail address. You can click this to login.</p>

    <button class="btn btn-success pull-right">Log in</button>

  </form>
</div>
{% endblock contents %}
