{% extends "base.html" %}

{% block contents %}
<div class="container main-content">
  <nav class="breadcrumbs">
    <ul>
      <li><a href="/">Home</a></li>
      <li>{{ object.name }}</li>
    </ul>
  </nav>
  <article>
      <h1 class="title">{{ object.name }}</h1>
      <div class="row">
        {% for activity, d in view.get_activites.items %}
            <div class="col-md-10">
                <h3 class="{% if d.allowed %}text-success{% else %}text-danger{% endif %}">
                    {{ activity }}
                </h3>
                    {% if d.justifications %}
                        <div class="row">
                            <div class="col-md-12">
                            <ul>
                                {% for legal_justification in d.justifications %}
                                    <li>{{ legal_justification }}</li>
                                {% endfor %}
                            </ul>
                            </div>
                        </div>
                    {% endif %}
            </div>
            <div class="col-md-2 text-left">
                <h3 class="{% if d.allowed %}text-success{% else %}text-danger{% endif %}">
                {% if d.allowed %}
                    <i class="fa fa-check" aria-hidden="true"></i>
                {% else %}
                    <i class="fa fa-times" aria-hidden="true"></i>
                {% endif %}
                </h3>
            </div>
        {% endfor %}
      </div>
  </article>
</div>
{% endblock contents %}