{% extends "base.html" %}
{% block contents %}
	<article>
		<form method="post">
			{% csrf_token %}
			<h1 class="nhsuk-heading-xl">
				Activity Assessment
			</h1>

			<h2 class="nhsuk-heading-l">Secondary use activities</h2>
			<p>
				Select all the secondary use activities that this
				project	is likely to involve.
			</p>
			<table class="table xs-scrollable">
					{% for activity in view.activities %}
						{% ifchanged activity.activity_category.name %}
						<thead>
								<tr>
									<th></th>
									<th>{{ activity.activity_category.name }}</th>
								</tr>
						</thead>
						{% endifchanged %}
					<tr>
						<td>
							<input type="checkbox" name="activities" id="activities" value="{{ activity.id }}">
						</td>
						<td>
							{{ activity.name }}
						</td>
					</tr>
					{% endfor %}
			</table>
			<div class="row content-offset-below-40">
				<div class="col-md-12">
					<button class="btn btn-success">
						Continue
					</button>
				</div>
			</div>
		</form>
	</article>
{% endblock %}
