{% extends "base.html" %}
{% block contents %}
<div class="container main-content">
	<div class="row">
		<div class="col-md-10">
			<nav class="breadcrumbs">
				<ul>
					<li><a href="/">Home</a></li>
					<li><a href="{% url 'project-location' %}">Project description</a></li>
					<li>Project activities</li>
				</ul>
			</nav>
			<article>
				<form method="post">
					{% csrf_token %}
					<h1>{{ project_name }}</h1>
					<h3 class="text-muted">
							{{ care_system.name }}
					</h3>

					<h2>Population health management activities</h2>
					<p>
						Select all activities that will be undertaken
						during the course of this project.
					</p>
					<table class="table">
						<thead>
							<tr>
								<th></th>
								<th>Activity</th>
							</tr>
						</thead>
						<tbody>
							{% for activity in view.activities %}
								<tr>
									<td>
										<input type="checkbox" name="activities" id="activities" value="{{ activity.id }}">
									</td>
									<td>
										{{ activity.name }}
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
					<div class="row">
						<div class="col-md-12">
							<button class="btn btn-success">
								Continue
							</button>
						</div>
					</div>
				</form>
			</article>
		</div>
	</div>
</div>
{% endblock %}