{% extends "base.html" %}
{% block contents %}
<article>
	<h1 class="nhsuk-heading-xl">
		Assess your project
	</h1>
	<form method="post">
		{% csrf_token %}
		<div class="row content-offset-24">
			<div class="col-md-8">
				<div class="form-group">
					<label for="projectName">Project name</label>
					<input required type="text" name="project_name" class="form-control" id="projectName">
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<h2 class="nhsuk-heading-l">Governance</h2>
				<p>
					Is there a formal governance mechanism in place that meets, as a minimum, the
					requirements outlined below?
				</p>
				<ol>
					<li>
						The governance mechanism is formally recognised by seniour leadership of the
						care system.
					</li>
					<li>
						The governance mechanism is represented on, or has access to, the care
						system's board (or equivalent very senior mechanism).
					</li>
					<li>
						Is the governance mechanism is regularly attended by each organisation that
						has current or planned responsibility for data management or information
						governance relating to PHM within the care system?
					</li>
					<li>
						Is the governance mechanism attended by members with sufficient seniority,
						authority and subject matter expertise in relation to information
						governance and data managment? (e.g. Data Protection Officers or Chief
						Information/Data Officers)?
					</li>
				</ol>
				<div class="form-group content-offset-24">
					<label class="radio-inline">
							<input required type="radio" name="governance" value="yes">Yes
						</label>
						<label class="radio-inline">
							<input required type="radio" name="governance" value="no">No
						</label>
						<label class="radio-inline">
							<input required type="radio" name="governance" id="inlineRadio2" value="will_be">Will be
						</label>
				</div>
			</div>
		</div>
		<div class="row content-offset-40">
			<div class="col-md-8">
				<button class="btn btn-success">
					Continue
				</button>
			</div>
		</div>
	</form>
</article>
{% endblock %}