{% extends "base.html" %}

{% block contents %}
<article>
  <h1 class="nhsuk-heading-xl">Assess Your Data Access</h1>

  <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porttitor
      lectus augue, nec feugiat lorem placerat eget. Pellentesque consectetur
      tellus vel justo pharetra, vel interdum nisl tristique. Sed cursus metus
      vitae venenatis dapibus. Sed eu metus purus. In ac lacinia nisi, et
      varius eros. Suspendisse commodo nisi risus, quis dapibus lectus
      efficitur et. Donec laoreet, velit ac aliquam egestas, nulla elit
      placerat arcu, a consectetur odio eros non magna.
  </p>

  <div class="content-offset content-offset-below-80">
    <form method="POST" class="form">
        {% csrf_token %}

      <div class="row" style="margin-top:20px">

        <div class="col-md-12">
          <div class="form-group">
            <h2 class="nhsuk-heading-l">{{ form.services.label }}</h2>

            <ul class="list-unstyled">
              {% for value, label in form.services.field.choices %}
              <li>
                <label for="id_services_{{ forloop.counter0 }}" style="display:flex;align-items:baseline;">
                  <input
                    type="checkbox"
                    name="services"
                    value="{{ value }}"
                    id="id_services_{{ forloop.counter0 }}"
                    checked
                  />
                  <span style="margin-left:10px">{{ label }}</span>
                </label>
              </li>
              {% endfor %}
            </ul>

          </div>
        </div>
      </div>

      <div class="form-group">
        <button type="submit" class="btn btn-success">Continue</button>
      </div>

    </form>
  </div>

</article>
{% endblock contents %}
